<div id="profile">
    <div id="profile_img" style="background: url(https://avatars1.githubusercontent.com/u/878701?v=4) center;"></div>
    <div id="username"><span style="display:block;">Grégoire Hébert</span></div>
    <div id="userbio" style="display: block;">
        Principal Engineer<br/>
        <br/>
        <a href="/hire-me" class="hire">Why should you hire me?</a>
    </div>
    <div id="about">
        <span style="display:block;"><i class="fas fa-users"></i> &nbsp; La Coopérative des Tilleuls</span>
        <span style="display:block;"><i class="fab fa-github"></i> &nbsp; <a href="https://github.com/GregoireHebert">@GregoireHebert</a></span>
        <span style="display:block;"><i class="fab fa-twitter"></i> &nbsp; <a href="https://www.twitter.com/gheb_dev">@gheb_dev</a></span>
        <span style="display:block;"><i class="fab fa-mastodon"></i> &nbsp; <a href="https://piaille.fr/@gheb_dev">@gheb_dev</a></span>
        <span style="display:block;"><i class="fas fa-envelope"></i> &nbsp; <a href="mailto:contact@gheb.dev">contact@gheb.dev</a></span>
        <span style="display:block;"><i class="fas fa-link"></i> &nbsp; <a href="https://les-tilleuls.coop">https://les-tilleuls.coop</a></span>
        <span style="display:block;"><i class="fas fa-map-marker-alt"></i> &nbsp;&nbsp; Lille (59), France</span>
    </div>
</div>
